<!DOCTYPE html>
<html>
<head>
<div align='center'>
	<meta charset=UTF-8>
	<title>Carga Docente | Principal</title>
</div>


<link rel="stylesheet" type="text/css"
	th:href="@{/css/responsive.bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/tablesStyle.css}" />
</head>
<body>
	<div class="logo" align='center'>
		<a href="index.html"> <img src="/img/logo.png" alt="Logo" />
		</a>

		<h1>Carga Docente</h1>
	</div>

	<div id="main-container">

		<table>
			<thead>
				<tr>
					<th scope="col">Nombre Docente</th>
					<th scope="col">Apellidos Docente</th>
					<th scope="col">Semestre académico</th>
					<th scope="col">N° de horas semanales</th>
				</tr>
			</thead>
			<tbody >

				<tr th:each="semestre: ${semestres}">
					<td
						th:text="${semestre.docente.nombreDocente}"></td>
						<td
						th:text="${semestre.docente.apellidoDocente}"></td>
					<td th:text="${semestre.semestreAcademico}"></td>
					<td th:text="${semestre.cargaAcademica}"></td>
				</tr>

			</tbody>
			
		</table>
	</div>
</body>
</html>
